---
layout: layout-pane.njk
title: Components
show_subnav: true
---

Components are reusable parts of the user interface that have been made to support a variety of applications.

Individual components can be used in multiple different [patterns](../patterns) and contexts. For example, the [text input](../components/text-input) component can be used to ask for an email address, a National Insurance number or someone’s name.

If you are using the [GOV.UK Prototype Kit](https://5e26c8c76425973408fe3240--govuk-prototype-kit-docs.netlify.com/) or have [GOV.UK Frontend](https://github.com/alphagov/govuk-frontend/tree/test_moving_docs) included in your build, the coded examples provided will render exactly as they do inside the Design&nbsp;System.
